 body, p{margin: 0;
 	padding: 0;}

 nav{display: flex;
 	justify-content:space-around;
 	width: 15%;
 	margin-left: auto;
 }

 a{text-decoration: none; color: black;}	

 a:hover{text-decoration:underline;}

 nav a img{height: 20px;}

 main{width: 50%;
 	margin:6.9em auto;
 	text-align: center;
    margin-top:10%;}

 	input{width: 80%;
 		padding: 1em;
 		border-radius: 30px;
 		border: 1px solid gray;}

 	.btn{margin-top: 10px;}

 	.btn button{padding: 1em;
 		border: none;}

 		footer{background-color: rgb(240, 236, 236);margin-top: 20.4%}

 	.footer_top{padding: 1em;}

 	.footer_bottom{padding: 1em;
 		display: flex;
 		justify-content: space-between;
 		border-top: 1px solid gray;}
